## Author
Vishal

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. Juypter notebook
2. python programming
3. arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. c++

Some of the commonly used libraries used by Data Scientists include:

    1.Numpy
    2.Keras
    3.Pandas
    4.GGplots

|Data Science Tools|
|-----------|
| Rstudio |
|Apache Spark|
|Tensor flow|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
7-8

-1

In [3]:
6*98

588

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335